In [150]:
import pandas as pd
import numpy as np

### Cleaning the Data Set
- Look for duplicates (Dates)
- Look for null or `NaN` values
-

In [151]:
df = pd.read_csv('Datathon_Fall2023_Dataset.csv') #reads csv file

df.head(10)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072 entries, 0 to 2071
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     2072 non-null   int64
 1   Anomaly  2072 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 32.5 KB

In [152]:
removedValues = df.dropna() #drops any null (na) values if there were any in the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072 entries, 0 to 2071
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     2072 non-null   int64
 1   Anomaly  2072 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 32.5 KB

### Formatting the Data for the Model
- Splice the Year Column into Year and Month 
  - example: 185001 -> 1850, January or 1850, 1

In [153]:
df['Year'] = df['Year'].astype(str) #converted int years to strings to make it easier to splice
df1=df.Year.str.extract('(?P<Year>.{4})(?P<Month>.{1,})') #separates the Year column from df into a Year column and a Month column and stores them in df1
df1['Anomaly'] = df['Anomaly'] #moves the Anomaly column to df1 to complete dataframe
def seasons(month): #method to determine season based on month
    if int(month) >= 1 and int(month) <= 3:
        return "Winter"
    if int(month) >= 4 and int(month) <= 6:
        return "Spring"
    if int(month) >= 7 and int(month) <= 9:
        return "Summer"
    if int(month) >= 10 and int(month) <= 12:
        return "Fall"
df1['Season'] = df1['Month'].apply(seasons) #adds another column that tells the season of each date

In [154]:
df1.head(10)

   Year Month  Anomaly  Season
0  1850    01    -0.36  Winter
1  1850    02    -0.12  Winter
2  1850    03    -0.23  Winter
3  1850    04    -0.19  Spring
4  1850    05    -0.19  Spring
5  1850    06    -0.10  Spring
6  1850    07    -0.09  Summer
7  1850    08    -0.11  Summer
8  1850    09    -0.18  Summer
9  1850    10    -0.11    Fall

### Export the cleaned/formatted dataset to a new CSV file

In [159]:
df1.to_csv('new_data.csv', index=False) #creates a new csv file

### Creating a CSV file for training/testing

In [156]:
def dates(year): #method that added a day to each date to make it the first of the month
    return year[:4] + "-" + year[4:] + "-01"
df['Year'] = df['Year'].apply(dates)
df2 = df.rename(columns={"Year":"ds", "Anomaly":"y"}) #renames the columns so it can be applied to the prophet model

In [157]:
df2.head()

           ds     y
0  1850-01-01 -0.36
1  1850-02-01 -0.12
2  1850-03-01 -0.23
3  1850-04-01 -0.19
4  1850-05-01 -0.19

In [158]:
df2.to_csv('processed_data.csv', index=False) #creates a new csv file to be used for training/testing